.elementor-75 .elementor-element.elementor-element-6299b3d .woocommerce-breadcrumb{text-align:center;}.elementor-bc-flex-widget .elementor-75 .elementor-element.elementor-element-401cfd4.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-75 .elementor-element.elementor-element-401cfd4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-75 .elementor-element.elementor-element-401cfd4.elementor-column > .elementor-widget-wrap{justify-content:center;}.woocommerce .elementor-75 .elementor-element.elementor-element-be0a339 .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper,
					.woocommerce .elementor-75 .elementor-element.elementor-element-be0a339 .flex-viewport{border-radius:5px 5px 5px 5px;}.woocommerce .elementor-75 .elementor-element.elementor-element-be0a339 .flex-control-thumbs img{border-radius:5px 5px 5px 5px;}.elementor-75 .elementor-element.elementor-element-6a953ee{text-align:right;}.elementor-75 .elementor-element.elementor-element-6a953ee .elementor-heading-title{color:#363636;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-75 .elementor-element.elementor-element-4a9cb5a .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:#61CE7000;}.elementor-75 .elementor-element.elementor-element-74688f2{text-align:right;}.elementor-75 .elementor-element.elementor-element-f47cbd9{text-align:center;}.woocommerce .elementor-75 .elementor-element.elementor-element-f47cbd9 .price{color:#363636;}.woocommerce .elementor-75 .elementor-element.elementor-element-f47cbd9 .price ins{color:#CBA044;}.elementor-75 .elementor-element.elementor-element-7bfe58f:not(.elementor-woo-meta--view-inline) .product_meta .detail-container:not(:last-child){padding-bottom:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7bfe58f:not(.elementor-woo-meta--view-inline) .product_meta .detail-container:not(:first-child){margin-top:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7bfe58f.elementor-woo-meta--view-inline .product_meta .detail-container{margin-right:calc(15px/2);margin-left:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7bfe58f.elementor-woo-meta--view-inline .product_meta{margin-right:calc(-15px/2);margin-left:calc(-15px/2);}body:not(.rtl) .elementor-75 .elementor-element.elementor-element-7bfe58f.elementor-woo-meta--view-inline .detail-container:after{right:calc( (-15px/2) + (-3px/2) );}body:not.rtl .elementor-75 .elementor-element.elementor-element-7bfe58f.elementor-woo-meta--view-inline .detail-container:after{left:calc( (-15px/2) - (3px/2) );}.elementor-bc-flex-widget .elementor-75 .elementor-element.elementor-element-ba28f26.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-75 .elementor-element.elementor-element-ba28f26.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-75 .elementor-element.elementor-element-ba28f26.elementor-column > .elementor-widget-wrap{justify-content:center;}.woocommerce .elementor-75 .elementor-element.elementor-element-17228cf .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper,
					.woocommerce .elementor-75 .elementor-element.elementor-element-17228cf .flex-viewport{border-radius:5px 5px 5px 5px;}.woocommerce .elementor-75 .elementor-element.elementor-element-17228cf .flex-control-thumbs img{border-radius:5px 5px 5px 5px;}.elementor-75 .elementor-element.elementor-element-17228cf{width:20vw;max-width:20vw;align-self:center;}.elementor-75 .elementor-element.elementor-element-53dd991{text-align:right;}.elementor-75 .elementor-element.elementor-element-53dd991 .elementor-heading-title{color:#363636;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-75 .elementor-element.elementor-element-c9ac7e9 .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:#61CE7000;}.elementor-75 .elementor-element.elementor-element-7af68ec{text-align:right;}.elementor-75 .elementor-element.elementor-element-ec251ab{text-align:center;}.woocommerce .elementor-75 .elementor-element.elementor-element-ec251ab .price{color:#363636;}.woocommerce .elementor-75 .elementor-element.elementor-element-ec251ab .price ins{color:#CBA044;}.elementor-75 .elementor-element.elementor-element-7cc0dbd:not(.elementor-woo-meta--view-inline) .product_meta .detail-container:not(:last-child){padding-bottom:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7cc0dbd:not(.elementor-woo-meta--view-inline) .product_meta .detail-container:not(:first-child){margin-top:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7cc0dbd.elementor-woo-meta--view-inline .product_meta .detail-container{margin-right:calc(15px/2);margin-left:calc(15px/2);}.elementor-75 .elementor-element.elementor-element-7cc0dbd.elementor-woo-meta--view-inline .product_meta{margin-right:calc(-15px/2);margin-left:calc(-15px/2);}body:not(.rtl) .elementor-75 .elementor-element.elementor-element-7cc0dbd.elementor-woo-meta--view-inline .detail-container:after{right:calc( (-15px/2) + (-3px/2) );}body:not.rtl .elementor-75 .elementor-element.elementor-element-7cc0dbd.elementor-woo-meta--view-inline .detail-container:after{left:calc( (-15px/2) - (3px/2) );}.elementor-75 .elementor-element.elementor-element-1c0f50e{text-align:justify;color:#595959;}@media(max-width:1024px){.elementor-75 .elementor-element.elementor-element-6a953ee .elementor-heading-title{font-size:20px;}}@media(max-width:767px){.elementor-75 .elementor-element.elementor-element-6a953ee{text-align:right;}.elementor-75 .elementor-element.elementor-element-6a953ee .elementor-heading-title{font-size:25px;}}/* Start custom CSS for woocommerce-product-images, class: .elementor-element-be0a339 */.max-height-50 img {
    max-height: 50% !important;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-title, class: .elementor-element-6a953ee */.elementor-75 .elementor-element.elementor-element-6a953ee * {
    vertical-align: middle !important;
}/* End custom CSS */
/* Start custom CSS for wc-add-to-cart, class: .elementor-element-4a9cb5a */.elementor-75 .elementor-element.elementor-element-4a9cb5a * {
    color: #CBA044;
    font-size: 1.5rem;
    vertical-align: middle !important;
    margin-top: -3px;
}
.elementor-75 .elementor-element.elementor-element-4a9cb5a *:hover {
    font-size: 2.5rem;
     transition: font-size 0.5s;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-short-description, class: .elementor-element-74688f2 */.elementor-75 .elementor-element.elementor-element-74688f2 ul {
    list-style-type: square;
    margin-right: -2%
}
.elementor-75 .elementor-element.elementor-element-74688f2 ul li {
    direction: rtl !important;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 1%;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-price, class: .elementor-element-f47cbd9 */.elementor-75 .elementor-element.elementor-element-f47cbd9 * {
    font-family: iransans !important;
}
.elementor-75 .elementor-element.elementor-element-f47cbd9 del {
    font-weight: 90;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-images, class: .elementor-element-17228cf */.max-height-50 img {
    max-height: 50% !important;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-title, class: .elementor-element-53dd991 */.elementor-75 .elementor-element.elementor-element-53dd991 * {
    vertical-align: middle !important;
}/* End custom CSS */
/* Start custom CSS for wc-add-to-cart, class: .elementor-element-c9ac7e9 */.elementor-75 .elementor-element.elementor-element-c9ac7e9 * {
    color: #CBA044;
    font-size: 1.5rem;
    vertical-align: middle !important;
    margin-top: -3px;
}
.elementor-75 .elementor-element.elementor-element-c9ac7e9 *:hover {
    font-size: 2.5rem;
     transition: font-size 0.5s;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-short-description, class: .elementor-element-7af68ec */.elementor-75 .elementor-element.elementor-element-7af68ec ul {
    list-style-type: square;
    margin-right: -2%
}
.elementor-75 .elementor-element.elementor-element-7af68ec ul li {
    direction: rtl !important;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 1%;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-price, class: .elementor-element-ec251ab */.elementor-75 .elementor-element.elementor-element-ec251ab * {
    font-family: iransans !important;
}
.elementor-75 .elementor-element.elementor-element-ec251ab del {
    font-weight: 90;
}/* End custom CSS */
/* Start custom CSS */.square-before:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  border-radius: 3px;
  background: #CBA044
}
.onsale {
    left: 0;
    color: white !important;
    padding: 6px 8px !important;
    font-size: 0.8rem !important;
    font-weight: 300 !important;
    margin: 2% !important;
}/* End custom CSS */